persona_file: "persona.yaml"
output_dir: "output"
twitch:
    enabled: true
    chat-enabled: true
    reply-in-chat: false
discord:
    enabled: false
    chat-enabled: true
    reply-in-chat: true
messages:
    max-tokens: 1024
    response-interval: 3000
    chat-history-length: 32
    chat-max-batch-size: 8
    reject-profanity: true
    profane-response: "I'm sorry, I don't respond to profanity."
    profanity-replacement: "Sorry, I can't use profanity."
    reject-negativity: false
    sentiment-threshold: -0.5
    prompt: "You are hosting a Twitch livestream and responding to your viewers comments in the chat. Below are the most recent messages in the chat history. Give only your response below as if you were speaking to them on stream as {NAME}.\n"
    safety-prompt: "To avoid issues with Twitch, avoid using profanity and discussing dangerous or illegal activity. {NAME} should always be friendly and supportive and discourage suicide, violence, and self-harm.\n"
    prompt-response-prefix: "Continue with {NAME}'s response here: \""
    response-expire-time: 30000
oobabooga:
    baseUrl: "ws://127.0.0.1:5005"
    requestParams: {}
    output_location: "output/response.txt"
stable_diffusion:
    enabled: true
    trigger: "please draw"
    baseUrl: "http://127.0.0.1:7860"
    negative_prompt: "EasyNegative, lewd, nsfw, sex, naked, nude, suicide, murder, rape, blood, gore, risque, sexy, horny"
    requestParams: {}
    output_location: "output/drawing.png"
    prompt_output_location: "output/prompt.txt"
    next_prompt_output_location: "output/nextprompt.txt"
    next_prompt_output_prefix: " Next prompt: "
voice:
    enabled: true
    voice_index: 0
    audio_device: 2
    exe_location: "F:/TTS/wintts-stream/WinTTS-Stream.exe"
    output_location: "output/voice.wav"
    alphanumeric_only: true
    stream_speech: true