persona_file: "persona.yaml"
messages:
    max-tokens: 2048
    response-interval: 5000
    chat-history-length: 7
    chat-max-batch-size: 10
    reject-profanity: true
    reject-negativity: false
    sentiment-threshold: -0.5
    prompt: "You are hosting a Twitch livestream and responding to your viewers comments in the chat. Below are the most recent messages in the chat history. Give only your response below as if you were speaking to them on stream as "
oobabooga:
    baseUrl: "ws://127.0.0.1:5005"
    requestParams: {}
    output_location: "output/response.txt"
stable_diffusion:
    enabled: true
    trigger: "please draw"
    baseUrl: "http://127.0.0.1:7860"
    negative_prompt: "EasyNegative, lewd, nsfw, sex, naked, nude, suicide, animal harm, loli, rape, blood, gore"
    requestParams: {}
    output_location: "output/drawing.png"
voice:
    enabled: true
    audio_device: 1
    exe_location: "F:/TTS/wintts/WinTTS.exe"
    output_location: "output/voice.wav"